@charset "UTF-8";
* {padding: 0px; margin: 0px; font-size: 1.1rem; font-family: Arial, Helvetica, sans-serif;}

:root {
    --color1: #1d1e20;
}
a {
    color: white;
    text-decoration: none;
}
body {
    background: rgb(30, 30, 30) url(../images/background.jpg) center center no-repeat fixed;
    background-size: cover;
}

/* CABEÇALHO */
header {
    display: flex;
    background-color: var(--color1);
    justify-content: space-between;
    padding: 30px;
    color: white;
}
header>ul>li {
    list-style-type: none;
}
header>span#menu {
    display: none;
}
header>ul.close>li {
    display: inline-block;
    margin: auto;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    transition: 1s;
}
header>ul>li:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.067);
}
/* CABEÇALHO */

/* CONTEUDO */
main {
    height: calc(100vh - 98px);
}
main>section#secLogin {
    margin: auto;
    width: 450px;
    height: 500px;
    transform: translateY(10%);
    background-color: rgba(122, 122, 122, 0.223);
    transition: 1s;
}
main form {
    height: 100%;
    padding: 50px 20px 20px 20px;
}
main>section#secLogin>form input#textId,  main>section#secLogin>form input#passwordId{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
}
main form p {
    text-align: center;
    padding-top: 25px;
}
main>section#secLogin>form input#buttonId {
    display: block;
    margin: auto;
    position: absolute;
    border: none;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    top: calc(100% - 65px);
    left: 0;
}
/* CONTEUDO */